
/* HERO SECTION - SECTION 1 */
.hero {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 800px;
}

.banner-left {
  grid-column: 1;
  background: var(--bg-royal-blue);
}

.banner-right {
  grid-column: 5;
  background: var(--bg-royal-blue);
}

.hero div {
  width: 100%;
  overflow: hidden;
}

.hero div img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  opacity: .75;
  transition: all .4s;
}

.hero div img:hover {
  transform: scale(1.05);
}

.hero-content {
  background: var(--bg-sapphire);
  color: var(--bg-swan-wing);
  display: flex;
  grid-column: 2/5;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  outline: 1px solid var(--bg-swan-wing);
  outline-offset: -15px;
}

.hero-content h1 {
  text-transform: uppercase;
  letter-spacing: .3rem;
}

.hero-content a {
  border: solid 1px var(--bg-swan-wing);
  padding: 8px 24px;
  color: var(--bg-swan-wing);
  margin-top: 2rem;
}

/* PARTNERS SECTION - SECTION 2 */

.partners {
  height: min-content;
  background: var(--bg-swan-wing);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  align-items: center;
  padding: 2rem;

}

.partner-card {
  display: flex;
  width: 6rem;
  margin: auto;
  filter: grayscale(100);
}

.partner-card:nth-child(1) {
  grid-column: 2;
}
.partner-card:nth-child(2) {
  grid-column: 3;
}
.partner-card:nth-child(3) {
  grid-column: 4;
}

.partner-card img {
  overflow: hidden;
  width: 100%;
}


/* CATEGORY SECTION - SECTION 3 */

.categories {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: var(--bg-sapphire);
height: min-content;
padding-bottom: 3rem;
}

.categories-title {
  padding: 4rem 0 2rem;
}

.categories-title h2 {
  text-transform: uppercase;
  color: var(--bg-swan-wing);
}

.grid-section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.grid-container{
  grid-column: 2/5;
}

.category-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 300px);
  gap: .3rem;
}

.cat-img-card {
  border: solid 1px var(--bg-swan-wing);
  border-radius: 16px;
  overflow: hidden;
}

.category-images .cat-img-card:nth-child(1) {
  grid-column: 1/3;
  grid-row: 1;
}

.category-images .cat-img-card:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
}

.category-images .cat-img-card:nth-child(3) {
  grid-column: 2;
  grid-row: 2;
}

.category-images .cat-img-card:nth-child(4) {
  grid-column: 3;
  grid-row: 1/3;
}

.category-images .cat-img-card:nth-child(5) {
  grid-column: 4;
  grid-row: 1/3;
}

.cat-img-card img{
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;

}

.cat-img-card img:hover {

}

/* ABOUT SECTION - SECTION 4 */
.about {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.abt-img {
  overflow: hidden;
  grid-column: 1;
}

.abt-img img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}

.abt-content {
  grid-column: 2/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  padding: 4rem;
  outline: 1px solid var(--bg-sapphire);
  outline-offset: -15px;
}
.abt-content h2 {
  text-transform: uppercase;
}

.abt-content a {
  padding: 8px 24px;
  border: solid 1px var(--bg-sapphire);
  color: var(--bg-royal-blue);
  transition: all .2s;
}

.abt-content a:hover {
  border: solid 1px var(--bg-sapphire);
  color: var(--bg-swan-wing);
  background: var(--bg-sapphire);

}

/* CTA SECTION */
.call-to-action {
  background: var(--bg-sapphire);
}

/* MEDIA QUERIES */
@media screen and (max-width: 900px) {
  .hero {
    display: flex;
    height: 650px;
  }

  .about {
    height: 650px;
  }

  .banner-left {
    display: none;
  }

  .grid-container {
    grid-column: 1/6;
    padding: .2rem;
  }
}

