

.portfolio-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: var(--background-transparent);
}

.portfolio-section h2 {
  margin-bottom: 24px;
}

.portfolio-tabs {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.tab-btn {
  background: none;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
}

.tab-btn.active,
.tab-btn:hover {
  background: #fff;
  color: #000;
}

.portfolio-grid {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.portfolio-card {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
  overflow: hidden;
  border: 1px solid #fff;
  transition: transform 0.3s ease;
}

.portfolio-card img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: top;
  display: block;
}

.portfolio-card:hover {
  transform: scale(1.03);
  box-shadow: 0 0 25px rgb(255, 255, 255);
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 30px 0;
  color:#fff;
}

.pagination button {
  background: #fff;
  color: #000;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
}

.pagination button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.loading-msg,
.no-posts-msg {
  text-align: center;
  color: #fff;
  margin-top: 2rem;
  font-style: italic;
  opacity: 0.8;
  height: 450px;
}

/* --- Overlay (same as portfolio) --- */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.85);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlay-content {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 90%;
  max-height: 90%;
  color: white;
  background: transparent;
  border-radius: 16px;
  overflow: hidden;
  animation: fadeIn 0.3s ease;
  padding: 2rem;
}

.overlay-left img {
  max-height: 80vh;
  width: auto;
  border-radius: 16px;
  object-fit: contain;
}

.overlay-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
  cursor: pointer;
  transition: color 0.2s;
}

.close:hover {
  color: #aaa;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.98);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}