.navbar {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background: var(--bg-shellstone);
  box-shadow: 0px 0px 15px #00000069;
}

.nav-links {
  display: flex;
}

.nav-links li {
  margin: 0 25px;
}

.nav-links li a{
  color: var(--bg-royal-blue);
  font-size: 1rem;
  text-transform: uppercase;

}

.social-links {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding-left: 3rem;
}

.social-links a i {
  color: var(--bg-royal-blue);
  font-size: 1.2rem;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: var(--bg-royal-blue);
}

.menu-btn {
  background: transparent;
  position: absolute;
  right: 30px;
  top: 30px;
  display: none;
}
.hamburger {
  font-size: 2rem;
  color: var(--bg-royal-blue);
}


@media screen and (max-width: 900px) {
  .nav-links {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background: var(--bg-shellstone);
    margin-left: 100%;
    transition: all .5s ease;
  }

  .social-links {
    margin-top: 2rem;
    padding: 0;
  }

  .mobile-menu {
      margin-left: 0;
      z-index: 500;
    }

  .nav-links li {
    margin: 25px 0;
  }

  .nav-links li a {
    font-size: 1.2rem;
  }

  .menu-btn{
    display: block;
    position: relative;
    right: 0;
    top: 0;
    z-index: 1000;
  }

}

