@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

/* --- Reset / Base --- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  line-height: 1.6;
  min-height: 100%;
  background: var(--bg-shellstone);
  /* background: url(../images/IMG_5385.JPG);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed; */
  margin: 0;
  padding: 0;
  color: var(--bg-royal-blue);
  height: 100vh;
  overflow-x: hidden;

}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}


