
/* admin styles */
.dash-header {
  background: var(--bg-sapphire);
  color: var(--bg-swan-wing);
  padding: 1rem;
  text-transform: uppercase;
}

.dash-header h1 {
  font-size: 1rem;
}

.admin-grid-container {
  display: grid; 
  grid-template-columns: repeat(8, 1fr);
}

.admin-sidebar {
  grid-column: 1;
}

.admin-sidebar ul {
  display: flex;
  flex-direction: column;
}

.admin-sidebar ul li {
  padding: 1rem ;
  border-bottom: solid 1px var(--bg-beige);
}