.admin-grid-container {
  display: grid; 
  grid-template-columns: repeat(8, 1fr);

}

.admin-sidebar {
  grid-column: 1;
}

.admin-sidebar ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.admin-sidebar ul li {
  padding: 1rem ;
  border-bottom: solid 1px var(--bg-beige);
}

.admin-sidebar ul li a {
  text-decoration: none;
  font-size: 1rem;
}